<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>System do zarządzania eventem</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<h1>Menu główne</h1>
<h3>
<div>
    <label>Stwórz nowy event</label>
    <button name="button"><a href="/new">Dalej</a></button>
</div>
<div>
    <label>Wyświetl twoje eventy</label>
    <button type="button">Dalej</button>
</div>
<div>
    <label>Wyświetl swoje dane</label>
    <button type="button">Dalej</button>
</div>
</h3>
</body>
</html>
